<header class="header-area">
    <a href="home.html" class="logo-area">
        <img src="https://technext.github.io/arcade/img/logo.png" alt="">
    </a>
    <div class="nav-switch">
        <i class="fa fa-bars"></i>
    </div>
    <div class="phone-number">+675 334 567 223</div>
    <nav class="nav-menu">
        <ul>
            <li class="active"><a href="">Home</a></li>
            <li><a href="about-us">About us</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
