<app-header></app-header>
<main>
    <section class="main-title">
        <h1>
            Portfolio<span>.</span>
        </h1>
    </section>
    <section class="main-links">
        <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Identity</a></li>
            <li><a href="#">Corporate</a></li>
            <li><a href="#">UI/UX</a></li>
        </ul>   
    </section>
    <section class="main-images">        
            <div class="main-images--img1"></div>        
            <div class="main-images--img2"></div>
            <div class="main-images--img3"></div>
            <div class="main-images--img4"></div>
            <div class="main-images--img5"></div>
            <div class="main-images--img6"></div>        
    </section>
    <section class="main-pages">
        <div>
            <h2>01<span>02</span>03</h2>
        </div>
    </section>
</main>