<app-header></app-header>
<div class="hero-image">
  <div class="hero-text">
    <h1 style="color: #fff">About us <span>.</span></h1>
  </div>
</div>

<div class="container" id="content">
  <div class="row">
    <div class="col-lg-8 intro-text">
      <h1 class="section-title">
        We are a creative Architecture&nbsp;<span id="studio">Studio</span>
      </h1>
      <div class="row" id="text-description">
        <div class="col-md-6">
          <p>
            Pellentesque lorem dolor, malesuada eget tortor vitae, tristique
            lacinia lectus. Pellentesque sed accumsan risus, id aliquam nulla.
            Integer lorem risus, feugiat at mauris malesuada, accumsan
            pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan,
            tortor nisl iaculis ligula.
          </p>
        </div>
        <div class="col-md-6">
          <p>
            Curabitur finibus dolor vel lectus pretium interdum a eget ante.
            Morbi rhoncus feugiat imperdiet. Curabitur non maximus leo. Nulla in
            ipsum sed magna egestas bibendum. Integer in sem sagittis, commodo
            mi sit amet, commodo nibh. Suspendisse potenti. Aliquam erat
            volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 pt-4">
      <img
        class="image-studio"
        src="https://technext.github.io/arcade/img/about.jpg"
        alt=""
      />
    </div>
  </div>
</div>
<!--testimonials-->
<section class="testimonials-section spad">
  <div class="testimonials-image-box"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 pl-lg-0 offset-lg-5 cta-content">
        <h1>Clients <span class="testimonials">testimonials</span></h1>
        <div class="qut">“</div>
        <div
          class="testimonials-slider owl-carousel owl-theme owl-loaded"
          id="test-slider"
        >
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(-2600px, 0px, 0px);
                transition: all 0.25s ease 0s;
                width: 4550px;
              "
            >
              <div
                class="owl-item cloned"
                style="width: 650px; margin-right: 0px"
              >
                <div class="ts-item">
                  <p>
                    Pellentesque lorem dolor, malesuada eget tortor vitae,
                    tristique lacinia lectus. Pellentesque sed accumsan risus,
                    id aliquam nulla. Integer lorem risus, feugiat at mauris
                    malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero
                    ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur
                    finibus dolor vel lectus pretium interdum a eget ante.
                  </p>
                  <h4>Maria Westminster</h4>
                  <span>Client</span>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 650px; margin-right: 0px"
              >
                <div class="ts-item">
                  <p>
                    Pellentesque lorem dolor, malesuada eget tortor vitae,
                    tristique lacinia lectus. Pellentesque sed accumsan risus,
                    id aliquam nulla. Integer lorem risus, feugiat at mauris
                    malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero
                    ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur
                    finibus dolor vel lectus pretium interdum a eget ante.
                  </p>
                  <h4>Maria Westminster</h4>
                  <span>Client</span>
                </div>
              </div>
              <div class="owl-item" style="width: 650px; margin-right: 0px">
                <div class="ts-item">
                  <p>
                    Pellentesque lorem dolor, malesuada eget tortor vitae,
                    tristique lacinia lectus. Pellentesque sed accumsan risus,
                    id aliquam nulla. Integer lorem risus, feugiat at mauris
                    malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero
                    ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur
                    finibus dolor vel lectus pretium interdum a eget ante.
                  </p>
                  <h4>Maria Westminster</h4>
                  <span>Client</span>
                </div>
              </div>
              <div class="owl-item" style="width: 650px; margin-right: 0px">
                <div class="ts-item">
                  <p>
                    Pellentesque lorem dolor, malesuada eget tortor vitae,
                    tristique lacinia lectus. Pellentesque sed accumsan risus,
                    id aliquam nulla. Integer lorem risus, feugiat at mauris
                    malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero
                    ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur
                    finibus dolor vel lectus pretium interdum a eget ante.
                  </p>
                  <h4>Maria Westminster</h4>
                  <span>Client</span>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 650px; margin-right: 0px"
              >
                <div class="ts-item">
                  <p>
                    Pellentesque lorem dolor, malesuada eget tortor vitae,
                    tristique lacinia lectus. Pellentesque sed accumsan risus,
                    id aliquam nulla. Integer lorem risus, feugiat at mauris
                    malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero
                    ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur
                    finibus dolor vel lectus pretium interdum a eget ante.
                  </p>
                  <h4>Maria Westminster</h4>
                  <span>Client</span>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls">
            <div class="owl-nav">
              <div class="owl-prev" style="display: none">prev</div>
              <div class="owl-next" style="display: none">next</div>
            </div>
            <div class="owl-dots" style="display: none"></div>
          </div>
        </div>
        <div class="slide-num-holder test-slider" id="snh-2">
          <span>03/ </span>03
        </div>
      </div>
    </div>
  </div>
</section>

<!--The team-->
<section class="team-section spad">
  <div class="container" id="team-container">
    <div class="section-title mb100">
      <h1>The Team</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img src="https://technext.github.io/arcade/img/team/1.jpg" alt="" />
          <div class="member-info">
            <h2>Jack Smith</h2>
            <p>Senior Architect</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img src="https://technext.github.io/arcade/img/team/2.jpg" alt="" />
          <div class="member-info">
            <h2>Lili Jameson</h2>
            <p>Senior Architect</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img src="https://technext.github.io/arcade/img/team/3.jpg" alt="" />
          <div class="member-info">
            <h2>Michael Dow</h2>
            <p>Senior Architect</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Promoted-->

<section class="promo-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 promo-text">
        <h1>In need of a <span class="fabulouse">fabulouse</span> home?</h1>
        <p>
          Pellentesque lorem dolor, malesuada eget tortor vitae, tristique
          lacinia lectus. Pellentesque sed accumsan risus.
        </p>
      </div>
      <div class="col-lg-3 text-lg-right">
        <a href="#" class="site-btn sb-dark mt-4">Get in Touch</a>
      </div>
    </div>
  </div>
</section>
