<app-header></app-header>
<main>
  <section class="main-title">
    <div class="header-content">
      <h2>
        Minimalistic
        <br>
        Architecture
        <br>
        and more
      </h2>
      <a href="#" class="site-btn sb-ligth">
        See Project
      </a>
      <div class="main-tittle--buttom">
        <span><i class="fas fa-arrow-left"></i>PREV</span>
        <span>NEXT<i class="fas fa-arrow-right"></i></span>
      </div>
    </div>
    <div class="main-title--paginator">
      <span>01 /</span> 02
    </div>
  </section>
  <section class="main-aboutus">
    <h2 class="main-aboutus--title">
      We are a creative Architecture <span>Studio</span>
    </h2>
    <p class="main-aboutus--text">Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus.
      Pellentesque sed accumsan risus,
      id aliquam nulla. Integer lorem risus, feugiat at mauris malesuada, accumsan pellentesque ipsum. Nunc dapibus,
      libero ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur finibus dolor vel lectus pretium interdum a
      eget ante. Morbi rhoncus feugiat imperdiet. Curabitur non maximus leo. Nulla in ipsum sed magna egestas bibendum.
      Integer in sem sagittis, commodo mi sit amet, commodo nibh. Suspendisse potenti. Aliquam erat volutpat. </p>
    <button class="main-aboutus--button">
      See Project
    </button>
    <div class="main-aboutus--image"></div>

  </section>
  <app-services></app-services>
  <section class="main-dream">
    <h2 class="main-dream--title">Dare to dream of a modern <span>home</span></h2>
    <p class="main-dream--text">Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus.
      Pellentesque sed accumsan risus,
      id aliquam nulla. Integer lorem risus, feugiat at mauris malesuada, accumsan pellentesque ipsum. Nunc dapibus,
      libero ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur finibus dolor vel lectus pretium interdum a
      eget ante.</p>
    <div>
      <span class="main-dream--icon1"></span>
      <span class="main-dream--icon2"></span>
      <span class="main-dream--icon3"></span> 
    </div>
  </section>
  <section class="main-numbers">
    <article class="main-numbers--years">
      <div class="color">
        <div class="capsula">
          <h3>14</h3>
          <p>Years of Experience</p>
        </div>
      </div>      
    </article>
    <article class="main-numbers--proyects">
      <div>
      </div>
      <div>
        <h3>237</h3>
        <p>Proyects taken</p>
      </div>
    </article>
    <article class="main-numbers--twitter">
      <div>
      </div>
      <div>
        <h3>11K</h3>
        <p>Twitter Followers</p>
      </div>
    </article>
    <article class="main-numbers--awards">
      <div>
      </div>
      <h3>12</h3>
      <p>Awards Won</p>
    </article>
  </section>
  <section class="main-projects">
    <h2>Projects</h2>
    <ul>
      <li>All</li>
      <li>Restaurations</li>
      <li>Buildings</li>
      <li>Apartments</li>
    </ul>
    <div class="main-projects--image"></div>
    <div class="main-projects--buttom">
      <span><i></i>PREV</span>
      <span><i></i>NEXT</span>
    </div>
  </section>
  <section class="main-clients">

  </section>
  <div class="main-dream--image"></div>
</main>
<footer></footer>