<section class="main-services">
    <h2 class="main-services--title">
        Services
    </h2>
    <article class="main-services--plans">
        <div></div>
        <h3>Plans and Projects</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
        <button>READ MORE</button>
    </article>
    <article class="main-services--conceptual">
        <div></div>
        <h3>Conceptual Architecture</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
        <button>READ MORE</button>
    </article>
    <article class="main-services--apartment">
        <div></div>
        <h3>Apartment Buildings</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
        <button>READ MORE</button>
    </article>
    <article class="main-services--skyscrapers">
        <div></div>
        <h3>Skyscrapers Buildings</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
        <button>READ MORE</button>
    </article>
    <article class="main-services--documentation">
        <div></div>
        <h3>Documentation</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
        <button>READ MORE</button>
    </article>
    <article class="main-services--restauration">
        <div></div>
        <h3>Restauration Projects</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
        <button>READ MORE</button>
    </article>
</section>